.vscode/

/fichas
/imagens

__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

.ipynb_checkpoints/

env/
venv/
.venv/

*.log
*.tmp
*.swp
*.bak

*.csv
*.tsv
*.dat
*.db
*.sqlite
*.h5
*.npy
*.npz

.env
.DS_Store
Thumbs.db
